<p style="color: green"><%= notice %></p>

<div class="heading">
  <h1>User details</h1>
  <div class="actions">
    <%= link_to "Edit", edit_user_path(@user), class: "button" %>
    <%= button_to "Destroy", @user, method: :delete, class: "danger" %>
  </div>
</div>
<div id="<%= dom_id @user %>">
  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <% if policy(@user).show_email? %>
    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>
  <% end %>
</div>


<div>
  <%= link_to "Back to users", users_path %>
</div>
