<% if current_page?(action: :edit) && game.first_team %>
  <%= link_to tournament_path(position: game.slot, choice: 0), data: { turbo_method: :patch } do %>

    <p class="slot slot1">
      <%= render "team", team: game.first_team %>
    </p>
  <% end %>

<% else %>
  <p class="slot slot1">
    <%= render "team", team: game.first_team %>
  </p>
<% end %>
<% if current_page?(action: :edit) && game.second_team %>
  <%= link_to tournament_path(position: game.slot, choice: 1), data: { turbo_method: :patch } do %>

    <p class="slot slot2">
      <%= render "team", team: game.second_team %>
    </p>
  <% end %>

<% else %>
  <p class="slot slot2">
    <%= render "team", team: game.second_team %>
  </p>
<% end %>