<% content_for(:head_content) do %>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "fa-icons" %>
  <%= javascript_include_tag "application" %>
<% end %>

<% content_for(:content) do %>
  <div class="app-container">
    <div class="app-content">
      <div class="main-layout-component">
        <%= render "application/header" %>
        <section class="container" id="content">
          <div class="wrapper">
            <%= yield %>
          </div>
        </section>
      </div>
    </div>
  </div>
<% end %>

<%= render template: "layouts/base" %>