<!DOCTYPE html>
<html>
<head>
  <title>Madness</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application" %>
  <%= content_for :html_head %>
</head>

<body id="application-layout" class="<%= controller_name %>-controller <%= action_name %>-action">
  <%= content_for?(:content) ? yield(:content) : yield %>
</body>
</html>
