<!DOCTYPE html>
<html>
<head>
  <title>Madness</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body id="application-layout" class="<%= controller_name %>-controller <%= action_name %>-action">
  <%= render "layouts/header" %>

  <section id="content" class="container">
    <div class="wrapper">
      <%= yield %>
    </div>
  </section>
</body>
</html>
