<% content_for :html_head do %>
  <%= stylesheet_link_tag "fa-icons" %>
  <meta name="sentry-dsn" content="<%= ENV['SENTRY_DSN'] %>" />
<% end %>

<% content_for :content do %>
  <div class="app-container">
    <div class="app-content">
      <div class="main-layout-component">
        <%= render "application/header" %>
        <section class="container" id="content">
          <div class="wrapper">
            <%= content_for?(:static_content) ? yield(:static_content) : yield %>
          </div>
        </section>
        <footer></footer>
      </div>
    </div>
  </div>
  <%= yield(:add_js) %>
<% end %>

<%= render template: "layouts/application" %>